.image{
    width: 25px;
}

.main{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.title__icons{
    display: flex;
}

.snippetButton{
    width: 30px;
    background-color: red;
}

