
// Variables

$mediumDark: #161616;
$darkColor: #1f1f1f;

$mediumColor: #868586;
$lightColor: #d7d7d7;
$greenColor: #2d9b94;
$orangeColor: #DF4148;
$orangeLightColor: #c10e3e;

$desktop-with: 60%;
$phone-with: 80%;


* {
    color: $mediumColor;
    font-family: 'Roboto';
    box-sizing: border-box;
}

h1{
    color: $lightColor;
    transition: 0.5s;
}

h1::selection{
    background-color: $greenColor;
}

h1:hover{
    color: white;
}

body{
    background-color: $darkColor;
}

.main{
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 58%;
    height: max-content;
    margin: 0 auto;
    gap: 2rem;
    box-sizing: border-box;
    background-color: $mediumDark;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 15px;
    border-radius: 15px;
    .snippetButton{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15%;
        cursor: pointer;
        border-radius: 15px;
        background-color: $orangeColor;
        color: $lightColor;
        border: none;
    }
    .snippetText{
        width: 78%;
    }
}



label{
    margin-bottom: 15px;
}

label::selection{
    background-color: $orangeColor;
    color: rgb(0, 0, 0);
}

select{
    height: auto;  /* Resets any previously defined height */
    max-height: 2.5em; /* Limit height to a single line */
    overflow: hidden; /* Prevent showing all options */
}

form   {
    display: flex;
    flex-direction: column;
    
}
textarea, input{
    width: $desktop-with;
    background-color: $mediumDark;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
}

textarea:focus, input:focus{
    color: rgb(200, 200, 200);
    outline: none;
    background-color: black;
}

textarea{
    height: 80px;
}

input{
    width: 100%;

}

select{
    background-color: $darkColor;
    width: $desktop-with;
    margin: 0 auto;
    margin-top: 30px;
    option{
        color: white;
    }
}


@media only screen and (max-width: 767px){
    .main{
       
        width: 90%;
    }
}

